{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}
<div class="content">

  <p>Welcome to TAMI! We are the largest and most active hackerspace and makerspace in Israel. Our community provides members and visitors with the neccesary tools, knowldge and help to create, hack, make and build their next project. Our collective interests are in woodworking, electronics, cooking, programming, sewing, welding, 3D printing and anything else that comes to mind. </p>

  <div class="cards">
    <div class="card">
      <div class="card-image">
        <img src="{% static 'img/wood.jpg' %}" alt="">
      </div>
      <div class="card-header">
         Facilities
      </div>
      <div class="card-copy">
        <p>Learn more about the various facilities and infrastructure at the hackerspace that can support your next hacking or making project.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="{% static 'img/hive.png' %}" alt="">
      </div>
      <div class="card-header">
        Join Us
      </div>
      <div class="card-copy">
        <p>Interested in joining TAMI? Start here to learn how our membership process works.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="{% static 'img/event.jpg' %}" alt="">
      </div>
      <div class="card-header">
        Support the Hackerspace
      </div>
      <div class="card-copy">
        <p>TAMI is a non-profit community hackerspace, we are supported by our network of members and friends. Help us pay the bills and keep the space open.</p>
      </div>
    </div>
  </div>

  <div class="resources">
    Where to go from here:
    <ul>
      <li>Join the discussion on our <a href="">Facebook Group</a></li>
      <li>Follow our <a href="https://www.facebook.com/telavivmakers/"> Facebook Page</a></li>
      <li>Follow us on <a href="https://twitter.com/telavivmakers">Twitter</a></li>
      <li>Check out our <a href="http://wiki.telavivmakers.org">wiki</a></li>
      <li>Join us on <a href="irc://irc.oftc.net:6667#tami">IRC</a></li>
    </ul>
  </div>

  <div class="location">
    <h2>Visit Us</h2>
    <p>45 Kibbutz Galuyot St., Studio #106, Tel Aviv.</p>
  </div>

</div>

{% endblock %}
